<div class="default-footer">
    <div class="container">
        <h6 class="text-center">Copyright &copy; {{getCurrentYear}} Tony Niccoli. Design by C.G. Swarbreck Ltd. <a href="https://github.com/cswarbreck"> <i class="fa fa-angle-double-down animated"></i> </a>.</h6>
    </div>
</div>