<div class="default-footer">
    <div class="container">
        <h6 class="text-center">Copyright &copy; {{getCurrentYear}} Tony Niccoli. Design by <a href="https://github.com/cswarbreck"><h6>C.G. Swarbreck Ltd</h6></a></h6>
    </div>
</div>