html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #222;
}
  
  
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;  
	margin: 0 0 35px;  
	letter-spacing: 1.5px;
}

h1{
	font-size: 2.1rem !important;
	@media (min-width: 576px){
		font-size: 2.7rem !important;
		font-weight: 700;
	}
	@media(min-width: 768px){
		font-size: 3.5rem !important;
	}
}

h2{
	font-size: 1.9rem !important;
	@media (min-width: 576px){
		font-size: 2.3rem !important;
	}
	@media(min-width: 768px){
		font-size: 3.1rem !important;
	}
}

h6{
	font-size: 0.8rem !important;
}

p{
	font-size: 0.9rem !important;
	@media (min-width: 576px){
		font-size: 1.1rem !important;
	}
}
  
a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-size: 0.9rem !important;
	@media (min-width: 576px){
		font-size: 1rem !important;
	}
	@media(min-width: 768px){
		font-size: 1.1rem !important;
	}
	.true{
		.list-group-item{
			background-color: transparent !important;
			border: 1px lightcoral solid !important;
			border-radius: 5px !important;
			color: lightcoral !important;
		}
	}
	&:focus,
	&:hover {
		color: lightcoral !important;
		outline: none;
		text-decoration: none !important;
	}
}
	
.parallax1 {
	background-image: url("https://images.pexels.com/photos/700971/pexels-photo-700971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}	
	
// FOOTER

	.default-footer{
		color: white;
		border-top: 1px solid lightseagreen;
		padding-top: 2rem;
		padding-bottom: 2rem;
		max-height: 4rem !important;
	}

// DEFAULT NAVIGATION

#mainNav {
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
	margin-bottom: 0;
  
	border-bottom: 1px solid fade-out(white, .7);
	background-color: black;
	padding-left: 2rem;
	padding-right: 2rem;
	@media(min-width: 768px){
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.navbar-toggler {
		text-transform: uppercase;
	  font-size: 14px;
  
	  padding: 11px;
  
	  color: lightseagreen;
	  border: 1px solid lightcoral;
	}
	.navbar-brand {
		text-transform: uppercase;
		font-weight: 700;
	}
	a {
		color: white;
		
	  
	}
		.navbar-nav {
			text-transform: uppercase;
			.nav-item {
			-webkit-transition: background 0.3s ease-in-out;
			-moz-transition: background 0.3s ease-in-out;
			transition: background 0.3s ease-in-out;
			
			&:hover {
				color: fade(white, 80%);
				outline: none;
				background-color: transparent;
			}
			&:active,
			&:focus {
				outline: none;
				background-color: transparent;
			}
		}
	}
	@media(min-width:992px) {
	  padding-top: 20px;
	  padding-bottom: 20px;
	  -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
	  -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
	  transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
	  letter-spacing: 1px;
	  border-bottom: none;
		background: transparent;
		padding-left: 0px !important;
		padding-right: 0px !important;
	  &.navbar-shrink {
			padding-top: 10px;
			padding-bottom: 10px;			
			border-bottom: 3px double lightcoral;
			background: #222;
			}
			.nav-link.active {
			outline: none;
			background-color: rgba(white, .3);
			&:hover {
				color: white;
			}
	  }
	}
}

// HOMEPAGE

/* .masthead {
  display: table;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 15rem;
  text-align: center;
  color: white;
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
	background: url("https://images.unsplash.com/photo-1503332132010-d1b77a049ddd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=49016a52e96d5176453fda05957035c9&auto=format&fit=crop&w=1950&q=80") no-repeat bottom center scroll;
		&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, #555, #002f4b);
		opacity: .6; 
		}
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 70px;
    }
    .intro-text {
      font-size: 20px;
		}
	.top-heading {
	  font-size: 50px;
		}
		#hrTitle{
			border-bottom: 3px double lightcoral;
			max-width: 600px;
		}
	}
	@media (min-width: 576px){
		padding-top: 18rem;
		padding-bottom: 23rem;
	}
  @media(min-width:768px) {
    height: 100%;
		padding-top: 17rem;
    padding-bottom: 22rem;
    .intro-body {
      .brand-heading {
        font-size: 85px;
      }
      .intro-text {
        font-size: 22px;
			}
			.top-heading {
			font-size: 64px;
			}
    }
  }
} */

// ********* ABOUT SECTION *********

/* .content-section {
	padding-top: 9rem;
	padding-bottom: 9rem;
	@media (min-width: 576px){
		padding-top: 18rem;
		padding-bottom: 23rem;
	}
  @media(min-width:768px) {
    height: 100%;
		padding-top: 11rem;
		padding-bottom: 16rem;
	}
} */

// ********* BUTTON STYLE ***********
  
.btn-circle {
	font-size: 26px;
  
	width: 55px;
	height: 55px;
	margin-top: 15px;
	line-height: 45px;
  
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
  
	color: white;
	border: 2px solid white;
	border-radius: 100% !important;
	background: transparent;
	&:focus,
	&:hover {
	  color: lightseagreen !important;
	  outline: none;
	  background: fade-out(white, .9);
	}
}

// NOTICE BOARD **********

  #eventsMain{
	  
	  text-align: center;
	  color: white;
	  background-image: url("https://images.pexels.com/photos/700971/pexels-photo-700971.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
	  background-color: black;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	
	  position: inherit;
	  height: 100%;
	  /* @include gradient-y; */

	  #eventsContent{
		  padding-top: 8rem;
		  padding-bottom: 10rem;

		  #eventsHeader{
			  text-align: left;
			  text-transform: uppercase;
			  padding-bottom: 2rem;
			  padding-left: 1.5rem;

			  #eventsPosts{
				  
				  border: 2px double white;
				  border-radius: 3px;
				  box-shadow: antiquewhite;
				  background-color: #333;
				  
			  }
		  }
	  }  
  }

  #blogContent{
	  padding-top: 6rem;
	  background-color: #222;
	  color: white;
	  a{
		  color: white !important;
		    &:focus,
			&:hover {
			color: lightcoral !important;
			outline: none;
			}
			#active{
				color: lightseagreen !important;
			}
	  }

	}

	#blogHeader{
		@supports 
  ((-webkit-text-stroke-color: #666)
  and
  (-webkit-text-fill-color: white))
  or
  ((-moz-text-stroke-color: #666)
  and
  (-moz-text-fill-color: white)) {
  h1 {
       -moz-text-fill-color: white !important;
    -webkit-text-fill-color: white !important;
       -moz-text-stroke-color: #222 !important;
    -webkit-text-stroke-color: #222 !important;
       -moz-text-stroke-width: 1px !important; 
    -webkit-text-stroke-width: 1px !important;
  }
}
	}

	.contact {
		width: 100%;
		height: 100%;
		background: url('https://images.pexels.com/photos/1006122/pexels-photo-1006122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		display: table;
		min-height: 1024px;
		&:before {
			content: '';
			position: absolute;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom, #555, #002f4b);

			opacity: .6; 
			}
			#contact-header{
				text-align: center;
				margin-top: 9rem;
				margin-bottom: 1rem;
				padding-left: 2rem;
				padding-right: 2rem;
				@media(min-width:576px){
					text-align: left;
					margin-top: 14rem;
					padding-left: 0rem;
					padding-right: 0rem;

				}
				@media(min-width:768px){
					text-align: left;
					padding-left: 0px;
					padding-right: 0px;
					margin-top: 16rem;
				}
			}
			#contact-form{
				margin-top: 6rem;
				@media(min-width: 576px){
					margin-top: 0px;
				}
				
				#contact-button{
					font-size: 14px;
					background-color: transparent;
					color: lightseagreen;
					border: 1px solid lightcoral;
				}
			}

	}

	.about-page {
		width: 100%;
		height: 100%;
		background: url('https://images.unsplash.com/photo-1503332132010-d1b77a049ddd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=49016a52e96d5176453fda05957035c9&auto=format&fit=crop&w=1950&q=80');
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		display: table;
		min-height: 1024px;
		&:before {
			content: '';
			position: absolute;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom, #555, #002f4b);

			opacity: .6; 
			}
			#landing-page{
				text-align: center;
				margin-top: 0rem;
				margin-bottom: 1rem;
				padding-left: 2rem;
				padding-right: 2rem;
				.intro-body {
					padding-top: 9rem;
					padding-bottom: 9rem;
					@media (min-width: 576px){
						padding-top: 17rem;
						padding-bottom: 20rem;
					}
					@media(min-width:768px) {
						height: 100%;
						padding-top: 17rem;
						padding-bottom: 18rem;
					}
				}	
			}
			.about-body{
				padding-top: 3rem;
				padding-bottom: 3rem;
				background-color: black;
				@media (min-width: 576px){
					padding-top: 18rem;
					padding-bottom: 23rem;
				}
				@media(min-width:768px) {
					height: 100%;
					padding-top: 8rem;
					padding-bottom: 12rem;
					margin-left: 0px;
					margin-right: 0px;
			}
			#about-content{
				
				background-color: black;
				
				
				/* border: 3px double white; */
				#mug-shot{
					max-width: 350px;
					max-height: 350px;
					min-width:250px;
					min-height:250px;
				}
			}
		}
	}