#header {
	margin-top: 0px;
}

nav {
	color: black !important;
}

footer {
	margin-top: 6rem;
	margin-bottom: 3rem;
	border-top: 1px solid #777777;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
	background-color: rgb(255, 255, 250);
}
