/* #header {
	margin-top: 0px;
}



footer {
	margin-top: 6rem;
	margin-bottom: 3rem;
	border-top: 1px solid #777777;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
} */

.blog-body{
	background-color: lightgray;
}

#defaultFooter{
	color: #222;
	background-color: white;
	font-size: 8px !important;
	border-top: solid double black 3px;
	padding-bottom: 3rem;
	padding-top: 2rem;
	position: fixed bottom;
}

body {
	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
	position: relative;
  
	width: 100%;
	height: 100%;
  
	color: #fff;
	background-color: #222;
	
  }
  
  html {
	width: 100%;
	height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
  
	margin: 0 0 35px;
  
	letter-spacing: 1px;
	/* text-transform: uppercase; */
  }
  
  p {
	font-size: 16px;
	line-height: 1.5;
  
	margin: 0 0 25px;
	@media(min-width: 768px) {
	  font-size: 18px;
	  line-height: 1.6;
  
	  margin: 0 0 35px;
	}
  }
  
  
  a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/* color: $primary; */
	.true{
		.list-group-item{
			background-color: transparent !important;
			border: 1px lightcoral solid !important;
			border-radius: 5px !important;
			color: lightcoral !important;
		}
	  }
	&:focus,
			&:hover {
			color: lightcoral !important;
			outline: none;
			text-decoration: none !important;
			
			}
  }


#mainButton{
	background-image: white;
}

#mainNav {
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
	margin-bottom: 0;
  
	border-bottom: 1px solid fade-out(white, .7);
	background-color: black;
	.navbar-toggler {
		text-transform: uppercase;
	  font-size: 14px;
  
	  padding: 11px;
  
	  color: lightseagreen;
	  border: 1px solid lightcoral;
	}
	.navbar-brand {
		text-transform: uppercase;
	  font-weight: 700;
	}
	a {
	  color: white;
	  padding: 7px;
	}
	.navbar-nav {
		text-transform: uppercase;
	  .nav-item {
		-webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
		transition: background 0.3s ease-in-out;
		
		&:hover {
		  color: fade(white, 80%);
		  outline: none;
		  background-color: transparent;
		}
		&:active,
		&:focus {
		  outline: none;
		  background-color: transparent;
		}
	  }
	}
	@media(min-width:992px) {
	  padding-top: 20px;
	  padding-bottom: 20px;
	  padding-left: 5px;
	  padding-right: 5px;
  
	  -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
	  -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
	  transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
	  letter-spacing: 1px;
	  
  
	  border-bottom: none;
	  background: transparent;
	  &.navbar-shrink {
		padding-top: 10px;
		padding-bottom: 10px;
  
		/* border-bottom: 1px solid fade-out(white, .7); */
		border-bottom: 1px solid lightcoral;
		border-bottom: 2px solid lightseagreen;
		background: #222;
	  }
	  .nav-link.active {
		outline: none;
		background-color: rgba(white, .3);
		&:hover {
		  color: white;
		}
	  }
	}
  }

.masthead {
  display: table;
  width: 100%;
  /* height: auto; */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: white;
  /* background: url("https://images.pexels.com/photos/872959/pexels-photo-872959.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb") no-repeat bottom center scroll; */
  background-color: #333;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  height: 100%;
 /*  background: url('https://images.pexels.com/photos/872959/pexels-photo-872959.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb') no-repeat bottom center scroll; */
 /*  background: url("https://images.pexels.com/photos/700971/pexels-photo-700971.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb") no-repeat bottom center scroll; */
  background: url("https://images.pexels.com/photos/665161/pexels-photo-665161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat bottom  scroll;
  &:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, #555, #002f4b);
	/* background-image: linear-gradient(to bottom,#dc4225, black); */
	/* background-image: linear-gradient(to bottom, #999, #000); */
	opacity: .6; 
  }

  .intro-body {
    display: table-cell;

    vertical-align: middle;
    .brand-heading {
      font-size: 70px;
    }
    .intro-text {
      font-size: 20px;
	}
	.top-heading {
	  font-size: 50px;
	}
	#hrTitle{
		border-bottom: 3px double lightcoral;
		max-width: 600px;
	}
  }
  @media(min-width:768px) {
    height: 100%;
	/* padding-top: 230px; */
	padding-top: 330px;
    padding-bottom: 265px;
    .intro-body {
      .brand-heading {
        font-size: 85px;
      }
      .intro-text {
        font-size: 22px;
	  }
	  .top-heading {
		font-size: 64px;
	  }
    }
  }
}
  
  .btn-circle {
	font-size: 26px;
  
	width: 55px;
	height: 55px;
	margin-top: 15px;
	line-height: 45px;
  
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
  
	color: white;
	border: 2px solid white;
	border-radius: 100% !important;
	background: transparent;
	&:focus,
	&:hover {
	  color: white;
	  outline: none;
	  background: fade-out(white, .9);
	}
  }
  
  .content-section {
	padding-top: 300px;
	padding-bottom: 300px;
  }

  #eventsMain{
	  
	  text-align: center;
	  color: white;
	  background-image: url("https://images.pexels.com/photos/700971/pexels-photo-700971.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
	  background-color: black;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	
	  position: inherit;
	  height: 100%;
	  /* @include gradient-y; */

	  #eventsContent{
		  padding-top: 8rem;
		  padding-bottom: 10rem;

		  #eventsHeader{
			  text-align: left;
			  text-transform: uppercase;
			  padding-bottom: 2rem;
			  padding-left: 1.5rem;

			  #eventsPosts{
				  
				  border: 2px double white;
				  border-radius: 3px;
				  box-shadow: antiquewhite;
				  background-color: #333;
				  
			  }
		  }
	  }  
  }

  #blogContent{
	  padding-top: 6rem;
	  background-color: #222;
	  color: white;
	  a{
		  color: white !important;
		    &:focus,
			&:hover {
			color: lightcoral !important;
			outline: none;
			}
			#blogButtons{
				color: white !important;
		    &:focus,
			&:hover {
			color: lightcoral !important;
			outline: none;
			}
			}
	  }

	}
